span{
    color: red;

}
body{
    margin: 0;
    background-image: url(./3.png);
    background-size: cover;
}
section{
    height: 600px;
    font-weight: bolder;
    color: rgb(36, 2, 5);
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin: 10px auto;
    height: 25px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
}
button[type="submit"]{
    background-color: rgb(64, 243, 41);
}